body {
	/*font-family: 'Tahoma', sans-serif;
	color: #faf3bc;
	background: #420600 url('img/bg-texture.jpg') repeat;*/
}

a {
	/*color: #4fb69f;
	text-decoration: none;*/
}

h1 {
	/*font-size: 20px;
	font-weight: 100;*/
}

h2 {
/*	color: #b4c34f;*/
}

